/* **********************************************
CSS Web- Animatie
********************************************** */

html,body{
	margin: 0;
	padding: 0;
	background-color: #000;
	height: 100%;

}

*,html,body{
	box-sizing: border-box;
}
